<!-- Cuerpo -->
<div id="present">
    <img id="foto_taller" title="Taller Vintage CiviC" src="./assets/workshop-3563680__340_Taller.jpg">

    <br>
    <span id="slogan"> ¡Si ya estás aquí, date una oportunidad!</span>
    <br><br><br>

    <span class="texto_taller"> En Vintage CiviC nos dedicamos a construir bicicletas y patinetes de forma artesanal. </span>
    <br><br>
    <span class="texto_taller"> Tú dinos qué buscas y nosotros le daremos forma.
                              Somos especialistas en la creación de estructuras robustas y equilibradas.
                              Trabajamos con los mejores materiales ajustándonos a tus necesidades. </span>

    <br><br>
    <span class="texto_taller"> Contáctanos a través del forumulario, y nos pondremos en contacto contigo a la mayor brevedad posible.</span>

    <br><br><br><br><br><br><br><br><br><br><br>

    <span id="equipo">El equipo de Vintage CiviC </span>

</div>