<div id="global">
    <br><br>
    <div id="pie">

        <div id="bloque1">
            <img title="Vintage CiviC" id="logo" src="./assets/logo_small_icon_animated.gif">
        </div>
        <div class="bloque2">
            <h2 title="Dirección">Dirección</h2>
            <h4>Avenida Atenas 3</h4>
            <h4>28922 Alcorcón (Madrid)</h4>
        </div>
        <div class="bloque2">
            <h2 title="Teléfonos"> Teléfonos </h2>
            <h4> 91 162 80 63</h4>
            <h4> 654 576 466 </h4>
        </div>


        <div id="bloque3">
            <h2 title="Mavegación"> Navegación </h2>
            <a routerLink="home" title="Link a home"> Home </a> <br>
            <a routerLink="bicicletas" title="Link a Bicicletas"> Bicicletas </a> <br>
            <a routerLink="patinetes" title="Link a Patinetes"> Patinetes </a> <br>
            <a routerLink="contacto" title="Link a Contacto"> Contacto </a>
        </div>


        <div class="bloque2" id="bloque4">
            <img title="Vintage CiviC" id="logo" src="./assets/logo_small_icon_animated.gif">
        </div>

    </div>

    <div id="pagina">
        <h5> Página desarrollada con Angular 12 y Firebase. Todos los derechos reservados.</h5>
    </div>

</div>